.userPlay {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-flow: wrap;
}
.container {
  height: 45px;
  border-bottom: 4px solid rgb(63, 58, 58);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  padding: 0 20px;
  height: 55px;
  position: fixed;
  background-color: lightblue;

  & p {
    font-size: 18px;
    font-style: italic;
  }
}
.navMenu {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  width: 10%;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: black;
  &:hover {
    color: rgb(19, 122, 156);
  }
}

.playsBlock {
  background-image: url('../../asets/images/ticket.webp');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  padding-top: 100px;
}
.loader {
  background-color: transparent;

  & img {
    background-color: transparent;
  }
}
