.playsContainer {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
.playsBlock {
  background-image: url('../../asets/images/ticket.webp');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
}
.adminContainer {
  height: 55px;
  position: fixed;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
