.bookingContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 4px solid silver;
  background-color: rgb(22, 79, 82);
  color: white;

  // padding: 0 20px;
}
.size {
  width: 12%;
  margin-top: 55px;
}

.adminContainer {
  height: 55px;
  position: fixed;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  height: 45px;
  border-bottom: 4px solid rgb(63, 58, 58);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  padding: 0 20px;
  height: 55px;
  position: fixed;
  background-color: lightblue;

  & p {
    font-size: 18px;
    font-style: italic;
  }
}
.navMenu {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.nav {
  width: 10%;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: black;
  &:hover {
    color: rgb(19, 122, 156);
  }
}
.loader {
  display: flex;
  justify-content: center;
}
