.signUpContainer {
  margin: 0 auto;
  margin-top: 50px;
  width: 600px;
  height: 600px;
  border: 1px solid rgb(25, 24, 26);
  background-color: rgb(226, 221, 230);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBlock {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 200px;
  & div {
    display: flex;
    flex-flow: column;
    height: 85px;
    justify-content: space-around;
    & label {
      font-size: 18px;
      font-style: italic;
    }
    & input {
      padding: 8px 28px;
      border: 1px solid;
      border-radius: 4px;
      background-color: rgb(227, 216, 236);
    }
  }
}

.signUpLogin {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
  & button {
    padding: 4px 20px;
    border: 1px solid lightslategrey;
    border-radius: 4px;
    background-color: lightblue;
    cursor: pointer;
    font-size: 18px;
    &:hover {
      transition: 0.8s;
      color: rgb(62, 121, 185);
      background-color: #fff;
    }
  }
}

.link {
  font-size: 24px;
}
