.book {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid rgb(95, 89, 89);
  border-right: 3px solid rgb(95, 89, 89);
  background-color: rgb(207, 237, 248);

  font-size: 18px;
}
.size {
  width: 15%;
  border-right: 3px solid rgb(95, 89, 89);
  &:last-child {
    display: flex;
    justify-content: space-around;
    color: rgb(114, 22, 22);
    font-style: italic;
    border: none;
  }
}

.btnApprove {
  background-color: blue;
  color: white;
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
}
